<div class="columns">
  <div class="column is-half">
    <h1 class="title is-size-2">Get a new familiar</h1>
    <%= form_for([@familiar], {url: character_familiars_path}) do |f| %>
    <div class="field">
      <%= f.label :familiar_id, "Species", class: "label" %>
      <div class="control">
        <div class="select">
          <%= f.collection_select :familiar_id, Familiar.all, :id, :species %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= f.label :name, "Name", class: "label" %>
      <div class="control">
          <%= f.text_field :name, class: "input" %>
      </div>
    </div>

    <div class="field">
      <%= f.submit class: "button is-success" %>
    </div>
    <% end %>
  </div>
</div>
