<h1>Houses#show</h1>

<%= @house.name %></li>
<img src="<%= @house.img_url%>" >
<ul>
<li><%= @house.sigil %></li>
<li><%= @house.founder %></li>
<li><%= @house.head_of_house %></li>
<li><%= @house.display_values %></li>
<li><%= @house.display_colors %></li>
</ul>
