
<div class="columns">
    
    <div class="column">
      <h1 class="title is-size-1"><%= @house.name %></h1>
      <ul>
        <li><b>House Points:</b> <%= @house.calculate_points %></li>
        <li><b>Sigil:</b> <%= @house.sigil %></li>
        <li><b>Founder:</b> <%= @house.founder %></li>
        <li><b>Head of House:</b> <%= @house.head_of_house %></li>
        <li><b>Values:</b> <%= @house.display_values %></li>
        <li><b>Colors:</b> <%= @house.display_colors %></li>
      </ul>
    </div>
    
    <div class="column">
      <img src="<%= @house.img_url %>" >
    </div>
</div>