<h1>Houses#show</h1>

<%= @house.name %>

<img src="<%= @house.img_url %>" >
<ul>
<li>House Points: <%= @house.calculate_points %></li>
<li>Sigil: <%= @house.sigil %></li>
<li>Founder: <%= @house.founder %></li>
<li>Head of House: <%= @house.head_of_house %></li>
<li>Values: <%= @house.display_values %></li>
<li>Colors: <%= @house.display_colors %></li>
</ul>
