  <h1>
  <%= @character.name %>
  </h1>
  <%= link_to @house, house_path(@character.house) %><br>

  <% if @familiar %>
  <ul>
    <%= label_tag "Familiar: "%>
    <%= link_to "Edit", edit_character_familiar_path(@familiar), class: "button" %>
    <li>Name: <%= @familiar.name %></li>
    <li>Species: <%= @familiar.species %></li>
  </ul>
  <% elsif %>
    <%= link_to  "Choose your familiar", new_character_familiar_path(@character) %>
  <% end %>

  <% if @character.wand %>
    <div class="field">
      <h1>Wand:</h1>
      <%= label_tag "Core Material: "%>
      <%= @character.wand.core.material %>
    </div>
    <div class="field">
      <%= label_tag "Wood Type: "%>
      <%= @character.wand.wood.name %>
    </div>
  <% else %>
    <div class="field">
      <%= link_to  "Choose your wand", new_character_wand_path(@character) %>
    </div>
  <% end %>

  <% if @character.spells %>
  <h1>Spells:</h1>
    <% @character.spells.each do |spell| %>
    <div class="field">
      <%= link_to spell.name, character_spell_path(@character, spell) %>
    </div>
    <% end %>
    <%= link_to  "Learn New Spells", spells_path %>
  <% end %>
