
<h1 class="title is-size-1">
  <%= @character.name%>
</h1>

<div class="subtitle is-size-4">
  <%= link_to @house, house_path(@character.house) %>
</div>

<div class="columns">
  <div class="column">
    <% if @familiar %>
      <%= render 'characters/familiar' %>
    <% elsif %>
      <%= link_to  "Choose your familiar", new_character_familiar_path(@character), class: "button is-primary" %>
    <% end %>
  </div>

  <div class="column">
    <% if @character.wand %>
      <%= render 'characters/wand' %>
    <% else %>
      <%= link_to  "Choose your wand", new_character_wand_path(@character), class: "button is-primary" %>
    <% end %>
  </div>
</div>

<div class="field">
  <span class="is-size-3">Learned Spells:</span>
  <span class="is-pulled-right"><%= link_to  "Learn New Spells", spells_path, class: "button is-info" %></span>
</div>
<div class="columns is-multiline">
  <% if @character.spells %> 
    <% @character.spells.order('spell_id').each do |spell| %>
    <%= render 'spells/spellCard', spell: spell %>
    <% end %>
  <% end %>
</div>

