  <h1>
  <%= @character.name %>
  </h1>
  <%= @house %><br>
  <%= @familiar %>
  <% if @character.wand %>
    <div class="field">
      <h1>Wand:</h1>
      <%= label_tag "Core Material: "%>
      <%= @character.wand.core.material %>
    </div>
    <div class="field">
      <%= label_tag "Wood Type: "%>
      <%= @character.wand.wood.name %>
    </div>
  <% else %>
    <%= link_to  "Choose your wand", new_character_wands_path(@character) %>
  <% end %>

  <% if @character.spells %>
  <h1>Spells:</h1>
    <% @character.spells.each do |spell| %>
    <div class="field">
      <%= link_to spell.name, spell_path(spell) %>
    </div>
    <% end %>
    <%= link_to  "Learn New Spells", spells_path %>
  <% end %>
