<h1><%= @spell.name %></h1>
<div class="field">
<%= @spell.category %>
</div>
<div class="field">
<%= @spell.effect %>
</div>

<% if @learned %>
  <%= form_for([@spell], {url: character_spell_path, method: :delete}) do |x| %>
    <%= x.submit "Forget Spell", class: "button" %>
  <% end %>
<% else %>
  <%= form_for([@spell], {url: character_spell_path}) do |x| %>
    <%= x.submit "Learn Spell", class: "button" %>
  <% end %>
<% end %>
