<% if flash[:message] %>
  <p color="red">  <%= flash[:message] %> </p>
<% end %>

<%= form_for([@wand], {url: character_wands_path}) do |f| %>
  <div class="field">
  <%= f.label :core, "Choose a core" %>
  <%= f.collection_select :core_id, @cores, :id, :material %>
  </div>
  <div class="field">
  <%= f.label :wood, "Choose wood type" %>
  <%= f.collection_select :wood_id, @woods, :id, :name %>
  </div>
  <%= f.submit class: "button"%>
<% end %>
