<!DOCTYPE html>
<html>
  <head>
    <title>Harold Hotter's House Hassles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="//use.edgefonts.net/emilys-candy.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-navbar-fixed-top">
    <%= render 'layouts/navbar' %>
    <section class="section">
      <div class="container">
        <%= render 'layouts/flashMessage' %>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
